syntax: glob

/_intdir
/Doxygen/html
*.obj
*.o
*.pdb
*.dep
*.sbr
*.ncb
*.manifest
*.user
*.lib
*.log
*.tlog
*.sdf
*.suo
*.opensdf
*.d
/bin
*.*bkp
*.mac
objchk_*
objfre_*
.BuildSystem/Configuration/environment.cfg
.BuildSystem/.Autogen/env.auto
.BuildSystem/.Autogen/buildconf.auto
.BuildSystem/.Autogen/changes.auto
/SDK
/_external
/autogen
include/ver.h
lastbuild.bat
cfgdirs.cmd
hvmi.VC.db
hvmi.VC.VC.opendb
.vscode

# VS 2017
/.vs

cscope*
.viminfo
*.vim

sdksettings.bat

*.orig
version.cmd

/build/kernel/
/build/@build/
.*swp
*.pyc
*.pyd
.vs/config/applicationhost.config

# other files (linux mostly)
tags
TAGS
.clang
.clang_complete
.projectile
.dir-locals.el
.vimrc
.ycm_extra_conf.py
compile_commands.json

# Temporary dir for the build
_build/
.ccls-cache/
.clangd/

cfgdirs.json

info.json
*.ipch
*.idb
*.pch

logs/x64/Release/XTS/XTS.res
logs/x64/Debug/XTS/XTS.res
logs/Win32/Release/XTS/XTS.res
logs/Win32/Debug/XTS/XTS.res
.color_coded
*.cache
introptfilter/x64
packages/nasm2.2.13.3.1/tools
packages/nasm2.2.13.3.1/.signature.p7s
packages/nasm2.2.13.3.1/nasm2.2.13.3.1.nupkg

hvmi.*.zip

# Detours and agents
introcore/linux/detours/handlers
introcore/linux/detours/handlers.s
introcore/linux/agents/agents/agents_content
introcore/linux/agents/agents/kthread_content
introcore/linux/agents/deploy/deploy_content
introcore/linux/agents/exec/exec_content
introcore/linux/agents/init/init_content
introcore/linux/agents/run/run_content
introcore/linux/agents/uninit/uninit_content
cami/intro_live_update.bin
exceptions/exceptions.bin
*.bak
docs/_static/doxygen
exceptions/exceptions2.bin
libintrocore.pc
introcore.pc
daemon/*.o
daemon/bin/
daemon/Makefile
daemon/CMakeCache.txt
daemon/CMakeFiles
daemon/.clangd
daemon/config.h
daemon/cmake_install.cmake
daemon/compile_commands.json
daemon/install_manifest.txt
daemon/settings.json
